<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
  <script th:src="@{/js/scripts.js}"></script>
  <link th:href="@{/css/table.css}" rel="stylesheet"/>
  <link th:href="@{/css/pagination.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}"/>

</head>
<body class="sb-nav-fixed">
<header th:replace="layout/header :: header"></header>

<div id="layoutSidenav">
  <div th:replace="layout/nav :: nav" ></div>
    <div id="layoutSidenav_content">
        <div class="container-fluid px-4" style="height: 555px">

            <div class="row">
              <div class="col-8">
                <h2 class="mt-2" style="font-family: Arial">Quản Lý Phân Quyền</h2>
                <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item"><a th:href="@{/templates/home}">Home</a></li>
                  <li class="breadcrumb-item active">Nhóm Quyền</li>
                </ol>
              </div>

              <div class="col-4">
                <!-- Thông báo thành công -->
                <div th:if="${message}" class="notification success" style="border: 1px solid darkslategray; padding: 10px 15px; text-align: center" id="successMessage">
                  <strong style="color: #1a1e21" th:text="${message}"></strong>
                </div>

                <!-- Thông báo lỗi -->
                <div th:if="${errorMessage}" class="notification alert-danger" style="border: 1px solid darkslategray; padding: 10px 15px; text-align: center" id="errorMessage">
                  <strong style="color: #1a1e21" th:text="${errorMessage}"></strong>
                </div>

              </div>
            </div>

            <div class="search mb-2">
              <form th:action="@{/groups}" method="get" class="form-inline ">
                <input style="height: 30px" type="text" name="name" class="form-control mr-2 shadow"
                       placeholder="Tìm kiếm theo tên" th:value="${name1}">

                <select style="height: 30px; padding: 0; text-align: center" name="status" class="form-control mr-2 shadow" onchange="this.form.submit()">
                  <option value="">-- Tất cả trạng thái --</option>
                  <option value="1" th:selected="${status == '1'}">Đã kích hoạt</option>
                  <option value="0" th:selected="${status == '0'}">Chưa kích hoạt</option>
                </select>

                <select style="height: 30px; padding: 0 5px;text-align: center" name="sort" class="form-control mr-2 shadow" onchange="this.form.submit()">
                  <option value="">-- Không sắp xếp --</option>
                  <option value="create-asc" th:selected="${sort == 'create-asc'}">Ngày tạo: Cũ tới Mới</option>
                  <option value="create-desc" th:selected="${sort == 'create-desc'}">Ngày tạo: Mới tới Cũ</option>
                  <option value="update-asc" th:selected="${sort == 'update-asc'}">Ngày cập nhật: Cũ tới Mới</option>
                  <option value="update-desc" th:selected="${sort == 'update-desc'}">Ngày cập nhật: Mới tới Cũ</option>
                </select>
                </select>

                <button style="height: 30px; width: 60px; padding-left: 10px; display: flex; align-items: center; justify-content: center; border:1px" type="submit" class="btn btn-success shadow">
                  <i class="fas fa-search"></i>
                </button>
                <a style="margin-left: 5px; height: 30px; width: 60px; padding-left: 10px; display: flex; align-items: center; justify-content: center; border:1px" th:href="@{/groups}" class="btn btn-primary shadow">
                  <i class="bi bi-arrow-clockwise"></i>
                </a>
              </form>

              <a class="btn btn-info shadow" onclick="openConfirmModal('/groups/activate')" style="height: 32px; padding: 2px 5px 0 5px; margin-left: auto; margin-right: 10px">Kích hoạt</a>
              <a class="btn btn-warning shadow" onclick="openConfirmModal('/groups/inactivate')" style="height: 32px; padding: 2px 5px 0 5px; margin-right: 10px">Tạm ngưng</a>
              <a class="btn btn-danger shadow"  onclick="openConfirmModal('/groups/delete')" style="height: 32px; padding: 2px 5px 0 5px; margin-right: 10px">Xóa</a>
              <a class="btn btn-success shadow" th:href="@{/groups/new}" style="height: 32px; padding: 2px 5px 0 5px; margin-right: 10px" >Thêm nhóm quyền</a>
            </div>
            <p th:text="${'Tổng '+groups.size()+' nhóm'}" style="font-size: small; color: #5c636a; margin-left: 3px " class="mb-1"></p>

            <form id="groupForm" th:action="@{/groups/delete}" method="post">
              <div class="mb-4">
                <table class="shadow table table-bordered table-striped-columns ">
                  <thead>
                  <tr style="background: #198754">
                    <th scope="col">
                      <input type="checkbox" id="selectAll" onclick="toggleSelectAll()">
                    </th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên nhóm </th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                  </tr>

                  </thead>
                  <tbody class="table-group-divider">
                  <tr th:each="group : ${groups}">
                    <td><input type="checkbox" class="rowCheckbox" name="groupIds" th:value="${group.id}"></td>
                    <th scope="row" th:text="${group.id}"></th>
                    <td th:text="${group.name}"></td>
                    <td th:text="${group.description}"></td>
                    <td th:text="${#temporals.format(group.updated_on.toLocalDate(), 'dd/MM/yyyy')}"></td>
                    <td>
                      <span th:if="${group.status == '1'}" class="status-active">Đã kích hoạt</span>
                      <span th:if="${group.status == '0'}" class="status-inactive">Chưa kích hoạt</span>
                    </td>
                    <td>
                      <a th:href="@{/groups/{groupID}/edit(groupID=${group.id})}" class="no-underline"><span><i class="bi bi-pencil-square"></i></span></a>
                      <a th:href="@{/groups/{groupID}/delete(groupID=${group.id})}"
                         onclick="return confirmDelete();" style="text-decoration: none;">
                        <span><i class="bi bi-trash3-fill"></i></span>
                      </a>
                      <a href="#" class="no-underline" th:onclick="'openGroupDetailModal(' + ${group.id} + ');'">
                        <span><i class="bi bi-eye-fill"></i></span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>

            <div class="pagination">
              <ul style="list-style-type: none; display: flex;">
                <!-- Previous Button (disabled if on the first page) -->
                <li th:if="${currentPage > 0}">
                  <a th:href="@{/groups(page=${currentPage - 1}, size=${pageSize}, name=${name1}, status=${status}, sort=${sort})}">Previous</a>
                </li>
                <li th:unless="${currentPage > 0}">
                  <span>Previous</span>
                </li>

                <!-- First page -->
                <li th:if="${currentPage > 2}">
                  <a th:href="@{/groups(page=0, size=${pageSize}, name=${name1}, status=${status}, sort=${sort})}">1</a>
                </li>

                <!-- Ellipsis if there are more than 5 pages before the current page -->
                <li th:if="${currentPage > 3}">
                  <span>...</span>
                </li>

                <!-- Pages near the current page -->
                <li th:if="${totalPages > 1}">
                <li th:each="i : ${#numbers.sequence(currentPage - 2 > 0 ? currentPage - 2 : 0 , currentPage + 2 < totalPages - 1 ? currentPage + 2 : totalPages - 1)}"
                    th:if="${i >= 0}"> <!-- Thêm điều kiện để đảm bảo i không âm -->
                  <a th:href="@{/groups(page=${i}, size=${pageSize}, name=${name1}, status=${status}, sort=${sort})}"
                     th:classappend="${i == currentPage} ? 'active'"
                     th:text="${i + 1}"></a>
                </li>
                </li>


                <!-- Ellipsis if there are more than 5 pages after the current page -->
                <li th:if="${currentPage < totalPages - 4}">
                  <span>...</span>
                </li>

                <!-- Last page -->
                <li th:if="${currentPage < totalPages - 3}">
                  <a th:href="@{/groups(page=${totalPages - 1}, size=${pageSize}, name=${name1}, status=${status}, sort=${sort})}" th:text="${totalPages}"></a>
                </li>

                <!-- Next Button (disabled if on the last page) -->
                <li th:if="${currentPage < totalPages - 1}">
                  <a th:href="@{/groups(page=${currentPage + 1}, size=${pageSize}, name=${name1}, status=${status}, sort=${sort})}">Next</a>
                </li>
                <li th:unless="${currentPage < totalPages - 1}">
                  <span>Next</span>
                </li>
              </ul>
            </div>

          <footer th:replace="layout/footer :: footer"></footer>
          </div>
      </div>
</div>

<!-- Modal Hiển Thị Thông Tin Nhóm quyền -->
<div class="modal fade" id="groupDetailModal" tabindex="-1" aria-labelledby="groupDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupDetailModalLabel">Chi Tiết Nhóm Quyền</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="background-color: #e6dbb9">
        <div style="margin-left: 15px; margin-top: 10px" class="row">
          <p class="col-6"><strong>ID:</strong> <span id="groupId"></span></p>
          <p class="col-6"><strong>Tên Nhóm Quyền:</strong> <span id="name"></span></p>
        </div>
      </div>

      <div style="background-color: #e6dbb9">
        <div style="margin-left: 15px;  margin-top: 10px; margin-bottom: 16px" class="row">
            <div class="col-6">
              <p style="margin-bottom: 2px"><strong>Chức Năng:</strong></p>
              <ul id="functionNames" style="list-style-type: none; padding-left: 0;"></ul> <!-- For function names -->
            </div>
            <div class="col-6">
              <p style="margin-bottom: 2px"><strong>Người Dùng:</strong></p>
              <ul id="userNames" style="list-style-type: none; padding-left: 0;"></ul> <!-- For user names -->
            </div>
        </div>
      </div>

      <div style="margin-left: 25px; margin-top: 15px">
        <table>
          <tr>
            <td><strong>Ngày Tạo:</strong></td>
            <td style="padding-left: 20px" id="created_on"></td>
          </tr>
          <tr>
            <td><strong>Ngày Cập Nhật:</strong></td>
            <td style="padding-left: 20px" id="updated_on"></td>
          </tr>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Xác Nhận -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Xác Nhận Hành Động</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn thực hiện hành động này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" id="confirmButton">Xác Nhận</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Hàm xác nhận xóa
  function confirmDelete() {
    return confirm("Bạn có chắc chắn muốn xóa vai trò này?");
  }

  // Hàm mở modal hiển thị chi tiết Nhóm quyền
  function openGroupDetailModal(groupId) {
    console.log("Fetching details for groupId:", groupId);
    fetch(`/groups/${groupId}/details`)
            .then(response => response.json())
            .then(group => {
              if (group) {
                document.getElementById('groupId').innerText = group.id;
                document.getElementById('name').innerText = group.name;

                // Hiển thị danh sách chức năng
                const functionNamesList = document.getElementById('functionNames');
                functionNamesList.innerHTML = ''; // Clear previous entries
                group.functionNames.forEach(functionName => {
                  const listItem = document.createElement('li');
                  listItem.innerText = functionName; // Assuming functionName is a String
                  functionNamesList.appendChild(listItem);
                });

                // Hiển thị danh sách người dùng
                const userNamesList = document.getElementById('userNames');
                userNamesList.innerHTML = ''; // Clear previous entries
                group.userNames.forEach(userName => {
                  const listItem = document.createElement('li');
                  listItem.innerText = userName; // Assuming userName is a String
                  userNamesList.appendChild(listItem);
                });

                // Cập nhật ngày tạo và cập nhật
                document.getElementById('created_on').innerText = group.created_on ? new Date(group.created_on).toLocaleString() : 'Không có thông tin';
                document.getElementById('updated_on').innerText = group.updated_on ? new Date(group.updated_on).toLocaleString() : 'Không có thông tin';

                const groupDetailModal = new bootstrap.Modal(document.getElementById('groupDetailModal'));
                groupDetailModal.show();
              } else {
                alert("Không tìm thấy thông tin nhóm.");
              }
            })
            .catch(error => {
              console.error('Error fetching group details:', error);
              alert("Đã xảy ra lỗi khi lấy thông tin nhóm.");
            });
  }


  // Hàm mở modal xác nhận hành động
  let actionUrl;
  function openConfirmModal(action) {
    const checkboxes = document.querySelectorAll('input[type="checkbox"].rowCheckbox');
    const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

    if (anyChecked) {
      actionUrl = action; // Lưu đường dẫn action
      const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
      confirmModal.show(); // Hiển thị modal
    } else {
      alert("Vui lòng chọn ít nhất một vai trò để thực hiện hành động.");
    }
  }

  // Xử lý sự kiện nút xác nhận trong modal
  document.getElementById('confirmButton').addEventListener('click', function() {
    const form = document.getElementById('groupForm');
    form.action = actionUrl; // Thiết lập action cho form
    form.submit(); // Gửi form
  });

  // Hàm chọn/bỏ chọn tất cả checkbox
  function toggleSelectAll() {
    const selectAllCheckbox = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('input[type="checkbox"].rowCheckbox');

    checkboxes.forEach(checkbox => {
      checkbox.checked = selectAllCheckbox.checked;
    });
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    // Tắt thông báo thành công sau 5 giây
    const successMessage = document.getElementById('successMessage');
    const errorMessage = document.getElementById('errorMessage');

    if (successMessage) {
      setTimeout(() => {
        successMessage.style.opacity = '0';
      }, 5000);
    }

    if (errorMessage) {
      setTimeout(() => {
        errorMessage.style.opacity = '0';
      }, 5000);
    }
  });

</script>

</body>
</html>