.pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 25px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.pagination .active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Active item shadow */
}

.pagination span {
    color: #6c757d;
    background-color: #f1f1f1;
    border-color: #ccc;
}

.pagination a[disabled],
.pagination span[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span {
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
